.detail-site-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.detail-section-light {
  background-color: var(--white-color);
  color: #0a2533;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 12rem 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.detail-section-dark {
  background-color: var(--font-color);
  color: #ffffff;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 12rem 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.swipe-line {
  width: 9vh;
  height: 0.5vh;
  background-color: rgb(64, 63, 63);
  border-radius: 2rem;
}
.swipe-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-informations-print-off {
  display: none;
}
.recipe-informations-print-on {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: -5;
}
.img-print-file {
  object-fit: contain;

  width: 40%;
}
.print-information-container {
  display: flex;
  gap: 3rem;
}
.ingredients-print-data {
  width: 200%;
}
