.BackBtn {
  border: 3rem;
  background-color: transparent;
}

.BackBtn img {
  width: 5vw;
  height: 7vh;
  margin: 3rem;
}

.BackBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Btn-Wrapper {
  display: flex;
  width: 60vw;
  height: 10vh;
  justify-content: space-between;
}

.Btn-Wrapper h2 {
  font-size: 3rem;
}

.search-headline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backArrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .search-headline {
    margin-right: 9rem;
  }
}