/* Categories Section */

/* Search Box */

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

.search-box h3 {
  font-size: 2.5rem;
  color: var(--font-btnBg-color);
  padding: 0 1rem;
}

.search-box a:hover {
  color: var(--font-btnBg-color);
}

/* Categories Gallery */

.categories-wrapper {
  display: flex;
  gap: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0.5rem 0 1.5rem 0rem;
}

.categories-wrapper a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--font-btnBg-color);
}

.category-card {
  background-color: var(--white-color);
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 1rem;
  padding: 1rem 1rem;
}

.category-card img {
  width: 11rem;
  height: 8rem;
  object-fit: contain;
}

.category-card img:hover {
  transform: scale(1.1);
  border-radius: 5rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

/* Scroll Bar */

/* .categories-wrapper::-webkit-scrollbar {
  background-color: var(--page-bg-color);
}

.categories-wrapper::-webkit-scrollbar-thumb {
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 1rem;
  border: 1px solid var(--main-color);
}

.categories-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
  border-radius: 3rem;
} */
