.active-btn {
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5vh;
  padding: 3% 8%;
  border: none;
}
.inactiveBtn {
  background-color: var(--page-bg-color);
  color: var(--font-btnBg-color);
  border-radius: 5vh;
  padding: 3% 8%;
  border: none;
}
.category-btn-wrapper {
  margin: 4% 0;
}
.category-btn-sec {
  display: flex;
  gap: 0.5rem;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.category-btn-sec::-webkit-scrollbar {
  display: none;
}

.category-see-all {
  color: var(--main-color);
  font-size: 1rem;
  /* margin: 1% 1% 0.5% 1%; */
  margin: 0 0 2rem 0;
  display: block;
  text-align: right;
  font-weight: bold;
}
