/* Categories Section */



/* Search Box */

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box h4{
    padding: 0 1rem;
    font-size: 2rem;
    color: #0A2533;
}

.search-box a{
    text-decoration: none;
    color: #70B9BE;
    font-weight: bold;
}

/* Categories Gallery */

.categories-wrapper{
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0.5rem 0rem;
}

.categories-wrapper a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #0A2533;
}

.category-card{
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 1rem;
    padding: 1rem 1rem;
}

.category-card img{
    width: 11rem;
    height: 8rem;
    object-fit: contain;
}

/* Scroll Bar */
.categories-wrapper::-webkit-scrollbar{
    background-color: #dedcdc;

  }

.categories-wrapper::-webkit-scrollbar-thumb{
    /* background-color:#70B9BE; */
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 1rem;
    border: 1px solid #70B9BE;
  }

.categories-wrapper::-webkit-scrollbar-thumb:hover{
    background-color:#70B9BE;
    border-radius: 3rem;
  }

  /* Animation */

  .category-card img:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}