.active-btn {
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5vh;
  padding: 3% 8%;
  border: none;
}
.inactiveBtn{
  background-color: var(--page-bg-color);
  color: var(--font-btnBg-color);
  border-radius: 5vh;
  padding: 3% 8%;
  border: none;
}
.category-btn-sec{
  display: flex;
  gap: 0.5rem;
  overflow: scroll;
  margin: 4% 2%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.category-btn-sec::-webkit-scrollbar{
  display: none;
}

/* 
.area-see-all{
  color: var(--main-color);
  font-size: 0.8rem;
  margin: 1% 1% 0.5% 1%;
}
 */