.ingredients-item {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}
.ingredients-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: 80%;
}
.ingredients-item * {
  color: black;
}
