.ingredients{
  font-size: clamp(2rem, -4.2000000000000055rem + 10.000000000000009vw, 2.2rem)
}
.ingredients-name{
  font-size: clamp(1.8rem, 1.4073298429319372rem + 1.6753926701570678vw, 2rem);
}

.ingredients-item {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}
.ingredients-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: 80%;
}
.ingredients-item * {
  color: black;
}



@media only screen and (min-width: 567px) and (max-width: 991px){
  .ingredients{
    font-size: clamp(2.2rem, -3.999999999999992rem + 9.999999999999986vw, 2.4rem);
  }
  .ingredients-name{
    font-size: clamp(2rem, -4.2000000000000055rem + 10.000000000000009vw, 2.2rem)
  }
  
}
  
@media only screen and (min-width: 992px) and (max-width: 1600px){
  .ingredients {
    font-size: clamp(2.4rem, 2.0073298429319366rem + 1.6753926701570696vw, 2.6rem);
  }
  .ingredients-name{
    font-size: clamp(2.2rem, -3.999999999999992rem + 9.999999999999986vw, 2.4rem);
  }
}