.category-item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* @media only screen and (min-width: 567px) and (max-width: 991px) {
  .category-item-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .category-item-list {
    grid-template-columns: repeat(6, 1fr);
  }
} */
