/* List Wrapper */

.search-meal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0;
}

.search-meal-wrapper a{
  color: var(--font-btnBg-color);
}

/* Card Section */

.search-meal-item {
  /* width: 85vw; */
  width: clamp(36rem, 85vw, 65rem);
  background-color: var(--white-color);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5vw 5vw;
  border-radius: 2rem;
  margin: 0 2rem;
}

.search-meal-item:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.02);
  cursor: pointer;
}

.search-meal-img {
  max-width: 25vw;
  max-height: 25vh;
  object-fit: contain;
  border-radius: 1rem;
}

/* Content Section */

.search-meal-item-text {
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 14vw, 10rem);
  justify-self: baseline;
  min-width: clamp(16rem, 33vw, 26rem);
}

.search-meal-item-text h2 {
  color: var(--font-btnBg-color);
  font-size: clamp(2rem, 5vw, 4rem);

}

.search-meal-item-text p {
  color: var(--meal-categorie-color);
  font-size: clamp(1.8rem, 4vw, 3rem);
}

.search-meal-item a {
  place-self: center;
  justify-self: end;
}

.search-meal-item .dot {
  margin-right: 0.5rem;
}

.search-meal-item .meal-item-arrow {
  width: clamp(3.5rem, 8vw, 6rem);
}

/* .search-meal-item .meal-item-arrow:hover {
  opacity: 50%;
} */

/* Media Queries */

@media only screen and (min-width: 870px) {

  .search-meal-item {
    width: 36rem;
    gap: 2rem;
    padding: 1rem 1rem;
    margin: 0;
  }

  .search-meal-img {
    max-width: 10rem;
    max-height: 10rem;
  }

  .search-meal-item-text {
    gap: 3rem;
    min-width: 17rem;
  }

  .search-meal-item-text h2{
    font-size: 3rem;
  }

  .search-meal-item-text p {
    font-size: 2rem;
  }

  .search-meal-item .meal-item-arrow {
    width: 3rem;
  }
}
