/* List Wrapper */

.search-meal-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
  
}
/* Card Section */

.search-meal-item {
  width: 80vw;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; */
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5vw 5vw;
  border-radius: 2rem;
  margin: 0 2rem;
}

.search-meal-item:hover{
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  transform: scale(1.1);
  cursor: pointer;
}

.search-meal-img {
  max-width: 25vw;
  max-height: 25vh;
  object-fit: contain;
  border-radius: 1rem;
}

.search-meal-img:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  transform: scale(1.1);
}

/* Content Section */

.search-meal-item-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-self: baseline;
  min-width: 5rem;
}

.search-meal-item-text h2{
  color: var(--font-btnBg-color);
  font-size: 1.5rem;
}

.search-meal-item-text p{
  color: var(--p-tag-searchField-color);
  font-size: 2.5vw;
}

.search-meal-item a{
  background-color: white;
  place-self: center;
  justify-self: end;
}

.search-meal-item .dot{
  margin-right: 0.5rem;
}

.search-meal-item .meal-item-arrow{
  width: 8vw;
}

.search-meal-item .meal-item-arrow:hover{
  opacity: 50%;
}

/* Media Queries */

@media only screen and (min-width: 960px) {
  
  .search-meal-wrapper{
    margin: 2rem 5rem;
    
  }

  .search-meal-item {
    width: 40vw;
    gap: 2rem;
    padding: 1rem 1rem;
    margin: 0 0rem;
  }

  .search-meal-img {
    max-width: 10rem;
    max-height: 10rem;
  }

  .search-meal-item-text {
    display: flex;
    gap: 4rem;
    min-width: 5rem;
  }
  
  .search-meal-item-text h2{
    color: var(--font-btnBg-color);
    font-size: 1.5rem;
  }
  
  .search-meal-item-text p{
    color: var(--p-tag-searchField-color);
    font-size: 0.9rem;
  }
  
  .search-meal-item .meal-item-arrow{
    width: 5vw;
  }
}