@font-face {
  font-family: Montserrat;
  src: url(../src/fonts/Montserrat-VariableFont_wght.ttf);
}
html {
  font-family: "Montserrat";
}

:root{
  --main-color: #70B9BE;
  --font-color:#0A2533;
  --page-bg-color: #F1F5F5;
  --nav-icon-color:#97A2B0;
  --p-tag-searchField-color:##97A2B0;
  --toggle-bg-color:##CBD4DE;
  --white-color:#FFFFFF;
}

.dark {
  background-color: #97a2b0;
  color: #ffffff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.dark svg {
  fill: #3ca0a7;
}

.dark svg:hover {
  fill: #70b9be;
}


