@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat";
}

:root {
  --main-color: #70b9be;
  --font-color: #0a2533;
  --page-bg-color: #f1f5f5;
  --nav-icon-color: #97a2b0;
  --p-tag-searchField-color: ##97a2b0;
  --toggle-bg-color: ##cbd4de;
  --white-color: #ffffff;
  --dark-theme-color: #97a2b0;
}

a {
  text-decoration: none;
}

.dark {
  background-color: var(--font-color);
  color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.light {
  color: #0a2533;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.dark svg {
  fill: #3ca0a7;
}

.dark svg:hover {
  fill: #70b9be;
}


h1{
  font-size: 1.75rem;
}
